html, body
{
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
}

/*
#renderer_wrapper
{
     width: 100%;
     height: 100%;
     position: absolute;
}*/

#renderer
{
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: rgba(255,0,0, 0.5);
     border: 5px solid #0f0;
     /*removes the scrollbars, div is automatically scaled when resizing window*/
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
}