html, body
{
     height: 100%;
     width: 100%;
     margin: 0;
     padding: 0;
}

/*
#renderer_wrapper
{
     width: 100%;
     height: 100%;
     position: absolute;
}*/

#div1
{
     background-image: url('../images/number_1.png');
     background-repeat: no-repeat;
     background-position: center;
     z-index: 1;
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: rgba(255,0,0, 1.0);
     border: 5px solid #0f0;
     /*visibility: hidden;*/
     display: none;
     
     /*removes the scrollbars, div is automatically scaled when resizing window*/
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
}

/*removes the scrollbars, div is automatically scaled when resizing window*/

#div2
{
     background-image: url('../images/number_2.png');
     background-repeat: no-repeat;
     background-position: center;
     z-index: 2;
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: rgba(255,0,0, 1.0);
     border: 5px solid #00f;
     /*visibility: hidden;*/
     display: none;
     
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
}


#div3
{
     background-image: url('../images/number_3.png');
     background-repeat: no-repeat;
     background-position: center;
     z-index: 3;
     position: absolute;
     width: 100%;
     height: 100%;
     background-color: rgba(255,0,0, 1.0);
     border: 5px solid #f00;
     /*visibility: hidden;*/
     display: none;
     
     box-sizing: border-box;
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
}

#hidden
{
  display: none;
}

#wrapper
{
  position: absolute;
  border: 1px solid #0f0;
  width: 363px;
  height: 138px;
  margin-top: 10px;
  margin-left: 10px;
  
}
#wrapper2
{
  position: absolute;
  right: 0;
  width: 
}

#content
{
  width: 59px;
  height: 118px;
  background-image: url('../images/score_item_resized.png');
  margin-top: 10px;
  margin-left: 10px;
  position: absolute;
}

#digit
{
  width: 61px;
  height: 80px;
  border: 1px solid #00f;
  position: absolute;
  margin-top: 29px;
  margin-left: 84px;
}


